*{
    margin:auto;
   text-align:center;
  font-family:Rockwell;
}
h1{
      font-size:50px;
     text-align:center;
}
input{
           font-size:40px;
           text-align:center;
           
     }
body{
          background-color:#fecea8;
}
.nav{
         background-color:#ff847c;
         font-size:40px;
         text-align:right;
         
}
.nav a{
             color:white;
             text-decoration:none;
             margin:30px;
       }
.btn{
           background-color:#e84a5f;
           color:white;
           font-size:30px;
           border-radius:5px;
           padding:3px;
    }
.btn:hover{
                    background-color:#c51350;
                    color:white;
                }
p{
      font-size:40px;
}
#msg{
            font-size:40px;
            
}
h4{
      border:groove;
            padding:30px;
            width:30%;
           border-radius:30px;
}